<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - RBWR SC</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen flex flex-col">
    <nav class="bg-gray-800 text-white p-4 flex items-center justify-between">
        <a href="/" class="font-bold text-lg">RBWR SERVER CHECKER</a>
        <div class="flex gap-4 text-sm">
            <a href="https://rbwr.hotment.dev/" target="_blank" rel="noopener" class="hover:text-blue-300">APRM Calc</a>
            <a href="https://rbwr.hotment.dev/suggestions" target="_blank" rel="noopener" class="hover:text-blue-300">Suggestions</a>
            <a href="/servers" class="hover:text-blue-300">Servers</a>
        </div>
    </nav>

    <main class="flex-1 bg-gray-900 text-white flex items-center justify-center">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white p-3 text-center">
        <p class="mb-2 text-sm text-gray-300">{{ now.year }} © RBWR Server Checker. All rights reserved.</p>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#ff0000', 'V1F024NQ8S');kofiwidget2.draw();</script>
    </footer>
</body>
</html>